@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

/* GENERAL */

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: #202020;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #001d3d !important;
}

a {
    color: #001d3d !important;
    text-decoration: none;
    transition: all 0.3s ease;
}

img {
    width: 100%;
}

/* NAVBAR */
.top-nav {
    background-color: #ffd100;
    padding: 5px 0;
}

.top-nav p {
    margin-bottom: 0;
    color: #333533;
}

.social-links a {
    width: 34px;
    height: 34px;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #333533;
    font-size: 20px;
    border-radius: 100%;
}

.social-links a:hover {
    background-color: #333533;
    color: rgba(255, 255, 255, 0.8) !important;
}